# =========================
# DATABASE CONFIG
# =========================
DB_USERNAME=
DB_PASSWORD=
DB_URL=

# =========================
# CLOUDINARY CONFIG
# =========================
CDNARY_NAME=
CDNARY_KEY=
CDNARY_SECRET=